@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <h2 class="text-center ">We are inviting 135 Crore Indians to Become Life Savers. Join us in this mission.</h2>

        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column hero-img" data-aos="fade-up">
                <img src="/img/30815095_u2nk_bae0_220606-removebg-preview (2).png" style="margin:5%" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center " style="padding:3%" data-aos="fade-up">
                <div>
                    <h1>Discover nearby blood doners quickly</h1>
                    <p>
                        Are you or a loved one in need of blood? Our search feature allows recipients to find donors in their
                        nearby areas quickly and easily.
                    </p>
                    <p>
                        We understand the critical need for timely access to blood. Raktdan aims to bridge the gap between those
                        who need blood and those willing to donate.
                    </p>
                    <div>
                        <a class="search-btn   " href="find_donar.html">Find a Donar</a>
                        <a class="search-btn" href="donate.html">Become a Donar</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section><!-- End Hero -->