@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
   
    <div class="container">
       
        <h2 class="text-center ">We are inviting 135 Crore Indians to Become Life Savers. Join us in this mission.</h2>

        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column " data-aos="fade-up">
                <img src="/img/30815095_u2nk_bae0_220606-removebg-preview (2).png"  alt="">
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center "  data-aos="fade-up">
                <div>
                    <h1>Discover nearby blood doners quickly</h1>
                    <p>
                        Are you or a loved one in need of blood? Our search feature allows recipients to find donors in their
                        nearby areas quickly and easily.
                    </p>
                    <p>
                        We understand the critical need for timely access to blood. Raktdan aims to bridge the gap between those
                        who need blood and those willing to donate.
                    </p>
                    <div class="btns">
                        <a class="search-btn" href="find_donar.html">Find a Donar</a>
                        <a class="search-btn" href="donate.html">Become a Donar</a>
                    </div>

                </div>
                <p class="note">
                    <b>* Raktdan</b> is a real-time app that connects <b>DONORS</b> and <b>RECIPIENTS</b> within minutes.<br />
                    <b>*</b> Please note <b>Raktdan</b> is not a Blood Bank and does not involve in collection , storage & transportation of blood.
                    Please refer <a href="#">Terms & conditions</a> for more detail
                </p>
            </div>
        </div>
    </div>
</section><!-- End Hero -->  

<div id="content">

    <header class="header">
        <h1>GLOBAL <i>BLOOD DONATION</i> STATISTICS</h1>
        <p>A comprehensive World Health Organisation infographic</p>
    </header>

    <div id="taartdiagram">
        <div id="basisschijf" class="gemeenschappelijk"></div>
        <div class="gemeenschappelijk punt punt_1_container">
            <div class="gemeenschappelijk punt punt_1"></div>
        </div>
        <div class="gemeenschappelijk punt punt_2_container">
            <div class="gemeenschappelijk punt punt_2"></div>
        </div>
        <div class="gemeenschappelijk punt punt_3_container">
            <div class="gemeenschappelijk punt punt_3"></div>
        </div>
        <div id="middenschijf">
            <h5 class="circle-heading">GLOBAL BLOOD TYPE DISTRIBUTION</h5>
        </div>
        <p class="label punt_1_label">41% O</p>
        <p class="label punt_2_label">29% A</p>
        <p class="label punt_3_label">23% B</p>
        <p class="label punt_4_label">7% AB</p>
    </div>
 

   

</div>
