@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- ======= App Features Section ======= -->
<section id="features" class="features">
    <div class="container">


        <div class="section-title">
            <h2>About Us</h2>
            <p>
                RAKTDAN is a unique platform that connects blood donors with those in need in real-time within a specific
                area. The goal is to save lives by quickly connecting donors across the country. RAKTDAN is available as a
                website, making it easy to find blood donors online. The app allows for geo-searching, instant connections,
                notifications, and updates, making it easier than ever to find donors during emergencies. We are asking the
                community to help us by signing up donors for RAKTDAN, taking a small step towards creating a better society.


            </p>
        </div>
        <h4 class="section-title">Our Digital Platform was built on the following principles</h4>
        <div class="row no-gutters">
            <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="bx bx-receipt"></i>
                            <h4>Find nearby donar</h4>
                            <p>To Find the Life Saving Blood/Plasma Donor at the nearest and in the shortest possible time.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Why you should help Us?</h4>
                            <p>Help our team with the opportunity to contribute to the nation playing the role of enablers </p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-images"></i>
                            <h4>Save Life</h4>
                            <p>Help Donor’s Save Lifes.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-shield"></i>
                            <h4>Our Aim</h4>
                            <p>Building awareness to increase Donor Conversions for the noble cause of Saving Lives</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
                 data-aos="fade-left" data-aos-delay="100">
                <img src="img/4.jpg"  class="img-fluid" alt="">
            </div>
        </div>

    </div>
</section><!-- End App Features Section -->
<!-- ======= Details Section ======= -->
<section id="details" class="details">

    <div class="container">

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="img/blood-156063_1280.png" style="padding-top: 20%;" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4" data-aos="fade-up">
                <h3>Geo-Search:</h3>
                <p class="fst-italic">
                    With the geo-search feature, finding blood donors has become easier than ever. Enter your location and you will be shown the donors available in the closest proximity
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>
                    <li>
                        <i class="bi bi-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.
                    </li>
                </ul>
                <p>
                    Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum consequatur non. Sed in
                    asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in officia
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                <img src="img/6.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                <h3>Notifications:</h3>
                <p class="fst-italic">
                    Get updates on blood requests so that you are informed the moment a donor is available or a request is made
                </p>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p>
                    Inventore id enim dolor dicta qui et magni molestiae. Mollitia optio officia illum ut cupiditate eos
                    autem. Soluta dolorum repellendus repellat amet autem rerum illum in. Quibusdam occaecati est nisi esse.
                    Saepe aut dignissimos distinctio id enim.
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="img/2.jpg" class="img-fluid" style="padding-top: 30%;" alt="">
            </div>
            <div class="col-md-8 pt-5" data-aos="fade-up">
                <h3>Real-time Connect:</h3>
                <p>No delays in receiving blood anymore. Connect with donors and recipients in real-time</p>
                <ul>
                    <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
                </ul>
                <p>
                    Qui consequatur temporibus. Enim et corporis sit sunt harum praesentium suscipit ut voluptatem. Et nihil
                    magni debitis consequatur est.
                </p>
                <p>
                    Suscipit enim et. Ut optio esse quidem quam reiciendis esse odit excepturi. Vel dolores rerum soluta
                    explicabo vel fugiat eum non.
                </p>
            </div>
        </div>



    </div>
</section><!-- End Details Section -->