html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

 
/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
 }

    #hero::before {
        content: "";
        position: absolute;
        right: -100%;
        top: 20%;
        width: 250%;
        height: 200%;
        z-index: -1;
        background-color: #ffe7e7;
        transform: skewY(-45deg);
    }

    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 500;
        line-height: 56px;
        color: #ba5757;
        font-family: "Poppins", sans-serif;
    }

    #hero h2 {
        color: #7d5151;
        font-size: 20px;
    }

.search-btn {
    background: #c16666;
    display: inline-block;
    padding: 5px 30px;
    margin: 2px 5px;
    border-radius: 50px;
    color: #fff6f6;
    transition: none;
    font-size: 18px;
    font-weight: 600;
     transition: 0.3s;
    text-decoration: none;
}

#hero .hero-img {
    width: 500px;
}

@media (max-width: 991px) {
    #hero {
        text-align: center;
    }



        #hero .hero-img {
            text-align: center;
        }

            #hero .hero-img img {
                width: 60%;
            }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 5%;
    overflow: hidden;
}

.section-bg {
    background-color: #f2f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #ba5757;
        font-family: "Poppins", sans-serif;
    }

    .section-title p {
        margin-bottom: 0;
    }
